import /init.recovery.samsung.rc

on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

on boot
    start health-hal-2-1

on fs
    wait /dev/block/platform/bootdevice
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:hwservicemanager.ready=true && property:vendor.sys.listener.registered=true
    start vendor.keymint-default
    start vendor.gatekeeper-default

on property:hwservicemanager.ready=true && property:crypto.ready=1
    start vendor.keymint-default
    start vendor.gatekeeper-default
   
on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop tz_service
    stop tzts_service
    stop vendor.keymint-default
    stop vendor.gatekeeper-default

on property:ro.orangefox.boot=1
    mkdir /tmp/flashlight
    write /tmp/flashlight/max_brightness "1"
    symlink /sys/devices/virtual/camera/flash/rear_flash /tmp/flashlight/brightness
